//NEWCODE
#yourCode {
  display: inline;
}

#codeZero {
  display: inline;
}

#firstCode {
  display: inline;
  opacity: 0;
  transition: 3s;
}

#firstCode.show {
  opacity: 1;
}

#loading {
  opacity: 0;
  transition: 1s;
  color: red;
  text-align: center;
  font-family: Arial;
}

#loading.show{
  opacity: 1;
}



#pleaseWait {
  opacity:0;
  transition: 1s;
}

#pleaseWait.show{
  opacity:1;
}

#stage2 {
  
  opacity: 0;
  font-family: 'Arial', sans-serif;
  font-size: 1.2em;
  color: white;
  background-color: #f0ac30;
  padding: 10px;
  border-radius: 5px;
  transition: 2s;
}

#stage2.show {
  opacity: 1
}

#go2 {
  opacity: 0;
  transition: 3s;
}

#go2.show{
  opacity: 1;
}

#achievementPic{
  width: 100px;
  height: 100px;
  opacity: 1;
}


#achievementClaim{
  width: 100px;
  height: 100px;
}

#achievementPic2{
  width: 100px;
  height: 100px;
  opacity: 1;
  transition: 3s;
}



#respectButton{
  color: cyan;
  font-size: 20px;
  text-shadow: green;
  cursor: pointer;

}

#showStage2{
  display: none;
}

#achievementDiv {
  opacity: 0;
}

#respectPic {
  position: fixed;
  width: 200px;
  height: 100px;
  left: 81px;
  top: 270px;
  opacity: 0;
  transition: 3s;
}

#respectPic.show{
  opacity: 1;
  transition: 3s;
}

#respectPic.hide{
  opacity: 0;
}

#terrifying {
  z-index: -1;
  background-size: cover;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  
}